<div id="footer" class="bg-light border-top border-bottom">
  <div class="container">
    <div class="row py-2">
      <div class="col-12 col-sm-6 col-md-3">
        <a href="{% if site.footer.logo.url %}{{site.footer.logo.url}}{% else %}{{ "/" | absolute_url }}{% endif %}">
          <img class="logo my-2" src="{{ site.footer.logo.image | absolute_url }}"/>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="my-2">
          {% if site.author %}
            {{ site.author }}
          {% endif %}
          {% if site.author and site.email %}
            <br/>
          {% endif %}
          {% if site.email %}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="my-2">
          {{ site.description }}
        </div>
      </div>
    </div>
    <div class="row py-2 border-top">
      <div class="col-12">
        <ul class="nav justify-content-center">
          {% assign first_level_pages = site.pages | where_exp: "itm", "itm.navigation" | where_exp: "itm", "itm.navigation.where == 'footer'" | where_exp: "itm", "itm.navigation.category == null" | sort: "navigation.order" %}
          {% for p in first_level_pages %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == p.permalink %}active{% endif %}" href="{{ p.permalink | absolute_url }}">
                {% if p.navigation.title %}
                  {{ p.navigation.title }}
                {% else %}
                  {{ p.title }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
          {% assign second_level_pages_by_category = site.pages | where_exp: "itm", "itm.navigation" | where_exp: "itm", "itm.navigation.where == 'footer'" | where_exp: "itm", "itm.navigation.category" | group_by_exp: "itm", "itm.navigation.category" %}
          {% for c in second_level_pages_by_category %}
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ c.name }}</a>
              <div class="dropdown-menu">
                {% assign second_level_pages = c.items | sort: "navigation.order" %}
                {% for p in second_level_pages %}
                  <a class="dropdown-item" href="{{ p.permalink | absolute_url }}">
                    {% if p.navigation.title %}
                      {{ p.navigation.title }}
                    {% else %}
                      {{ p.title }}
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

