<div id="header" class="bg-light border-top border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <a href="{% if site.header.logo.url %}{{site.header.logo.url}}{% else %}{{ "/" | absolute_url }}{% endif %}">
          <img class="logo my-2 mx-auto d-block" src="{{ site.header.logo.image | absolute_url }}"/>
        </a>
      </div>
    </div>
    <div class="row py-2 border-top">
      <div class="col-12">
        <ul class="nav justify-content-center">
          {% assign first_level_pages = site.pages | where_exp: "itm", "itm.navigation" | where_exp: "itm", "itm.navigation.where == 'header'" | where_exp: "itm", "itm.navigation.category == null" | sort: "navigation.order" %}
          {% for p in first_level_pages %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == p.permalink %}active{% endif %}" href="{{ p.permalink | absolute_url }}">
                {% if p.navigation.title %}
                  {{ p.navigation.title }}
                {% else %}
                  {{ p.title }}
                {% endif %}
            </a>
            </li>
          {% endfor %}
          {% assign second_level_pages_by_category = site.pages | where_exp: "itm", "itm.navigation" | where_exp: "itm", "itm.navigation.where == 'header'" | where_exp: "itm", "itm.navigation.category" | group_by_exp: "itm", "itm.navigation.category" %}
          {% for c in second_level_pages_by_category %}
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ c.name }}</a>
              <div class="dropdown-menu">
                {% assign second_level_pages = c.items | sort: "navigation.order" %}
                {% for p in second_level_pages %}
                  <a class="dropdown-item" href="{{ p.permalink | absolute_url }}">
                    {% if p.navigation.title %}
                      {{ p.navigation.title }}
                    {% else %}
                      {{ p.title }}
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
