<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.fav-icon | replace: "*", 16 | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.fav-icon | replace: "*", 32 | absolute_url }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ site.fav-icon | replace: "*", 64 | absolute_url }}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ site.fav-icon | replace: "*", 128 | absolute_url }}">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ site.fav-icon | replace: "*", 256 | absolute_url }}">
  <link rel="canonical" href="{{ page.url | replace: "index.html", "" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendors/bootstrap-4-0-0/bootstrap.min.css" | absolute_url }}">
  <script src="{{ "/assets/vendors/jquery-3.3.1/jquery-3.3.1.min.js" | absolute_url }}"></script>
  <script src="{{ "/assets/vendors/bootstrap-4-0-0/bootstrap.bundle.min.js" | absolute_url }}"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
</head>
