---
layout: default
---

{{ content }}
<div class="home">
  <ul class="list-unstyled p-0">  
    {% for p in site.posts %}
      <li class="my-4 mx-0">
        <h2>
          <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
        </h2>
        <p>
          <small>
            <b>{{ p.date | date: "%b %-d, %Y" }}</b>
            {% if p.author %}
              by {{ p.author }}
            {% endif %}
          </small>
        </p>
        <p>
          {% if p.preview %}
 	        {{ p.preview }}
          {% else %}
 	        {{ p.content | strip_html | truncatewords:75 }}
          {% endif %}
        </p>
        <p>
          <a class="btn btn-outline-primary" href="{{ p.url | prepend: site.baseurl }}">Read more</a>
        </p>
      </li>
    {% endfor %}
  </ul>
</div>

