<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="content" class="my-2 py-4">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
