---
layout: default
---

<h1>
  {{ page.title }}
</h1>
<p>
  <small>
    <b>{{ page.date | date: "%b %-d, %Y" }}</b>
    {% if page.author %}
      by {{ page.author }}
    {% endif %}
  </small>
</p>
{{ content }}

